style>
        body {
            padding: 0;
            margin: 0;
        }

        main {
            padding: 1rem;
        }


        .main-header {
            width: 100%;
            height: 3.5rem;
            background-color: coral;
            padding: 0 1.5rem;

        }

        .main-header_nav {
            height: 100%;
            display: flex;
            align-items: center;

        }

        .main-header_item-list {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;

        }
        .main-header_item {
            margin: 0 1rem;
            padding: 0;

        }


        .main-header_item a {
            text-decoration: none;
            color: black;
        }

        .main-header_item a:hover, 
        .main-header_item a:active,
        .main-header_item a.active {
            color: #116ba7;

        }

        .product-form {
            width: 20rem;
            max-width: 90%;
            margin: auto;
        }

        .form-control {
            margin: 1rem 0;
        }

        .form-control label,
        .form-control input {
            display: block;
            width: 100%;
        }

        .form-control input {
            border: 1px solid #ffff00;
            font: inherit;
            border-radius: 2px;
        }

        button {
            font: inherit;
            border: 1px solid purple;
            color: purple;
            background: white;
            border-radius: 3px;
            cursor: pointer;
        }

        button:hover,
        button:active {
            background-color: purple;
            color: white;
        }