body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

main {
    padding: 1rem;
}
.main-header {
    width: 100%;
    height: 3.5rem;
    background-color: red 
}

.main-header__nav {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 1.5rem;
}

.main-header__item-list {
    list-style: none;
    padding:0%;
    margin: 0%;
    display: flex;
}

.main-header__item {
    padding: 0 1rem;
    margin: 0%;
}

.main-header__item a{
    text-decoration: aqua;
    color: whitesmoke;
}
.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active {
    color: rgb(28, 11, 182);
}