doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{pageTitle}
        link(rel="stylesheet", href="/css/main.css")
        link(rel="stylesheet", href="/css/forms.css")
        link(rel="stylesheet", href="/css/product.css")
    body 
        header.main-header
            nav.main-heaeder__nav 
                ul.main-header__list-item 
                    li.main-header__item
                        a(href="/") Shop 
                    li.main-header__item     
                        a.active(href="/admin/add-product") Add Product 

        main
            form.product-form(action="/admin/add-product", method="POST")
                .form-control
                    label(for="title") Title
                    input(type="text", name="title")#title
            
                button.btn(type="submit") Add Product
        